---
# 语言: None, Cpp, Java, JavaScript, ObjC, Proto, TableGen, TextProto
Language:        Cpp
# BasedOnStyle:  Google
# 访问权限说明符(public/protected/private)的偏移
AccessModifierOffset: -1
# 开括号(开圆括号/开尖括号/开方括号)后的对齐: Align, DontAlign, AlwaysBreak(总是在开括号后换行)
AlignAfterOpenBracket: Align
# 连续宏定义时的对齐方式
AlignConsecutiveMacros: false
# 连续赋值时，对齐所有等号
AlignConsecutiveAssignments: true
# 连续位域的对齐方式
AlignConsecutiveBitFields: false
# 连续声明时，变量名的对齐方式
AlignConsecutiveDeclarations: false
# 反斜杠换行的对齐方式: DontAlign, Left, Right
AlignEscapedNewlines: Left
# 二元/三元表达式占用多行时的对齐方式: DontAlign, Align, AlignAfterOperator
AlignOperands:   Align
# 对齐行尾注释
AlignTrailingComments: true
# 允许函数调用和参数一行放不下时将参数全部放下一行
AllowAllArgumentsOnNextLine: true
# 允许构造函数的所有初始化成员变量一行放不下时全部放下一行
# Note: 仅在ConstructorInitializerAllOnOneLineOrOnePerLine为true时有效
AllowAllConstructorInitializersOnNextLine: true
# 允许函数声明的所有参数一行放不下时全部放下一行
AllowAllParametersOfDeclarationOnNextLine: true
# 允许短的枚举在同一行
AllowShortEnumsOnASingleLine: false
# 允许短的代码块在同一行: Never, Empty, Always
AllowShortBlocksOnASingleLine: Never
# 允许短的case标签和语句在同一行
AllowShortCaseLabelsOnASingleLine: false
# 允许短的函数在同一行: None, InlineOnly, Empty, Inline, All
AllowShortFunctionsOnASingleLine: None
# 允许短的lambda语句在同一行: None, Empty, Inline, All
AllowShortLambdasOnASingleLine: All
# 允许短的if语句在同一行: Never, WithoutElse, OnlyFirstIf, AllIfAndElse
AllowShortIfStatementsOnASingleLine: false
# 允许短的循环保持在同一行
AllowShortLoopsOnASingleLine: false
# 总是在函数定义的返回值类型后换行:
# None(由PenaltyReturnTypeOnItsOwnLine决定)
# All(总在返回值类型后换行)
# TopLevel(仅在顶层函数的定义的返回值类型后换行)
AlwaysBreakAfterDefinitionReturnType: None
# 总是在函数声明/定义的返回值类型后换行:
# None(由PenaltyReturnTypeOnItsOwnLine决定)
# All(总在返回值类型后换行)
# TopLevel(仅在顶层函数的声明/定义的返回值类型后换行)
# AllDefinitions(在所有函数的定义的返回值类型后换行)
# TopLevelDefinitions(仅在顶层函数的定义的返回值类型后换行)
AlwaysBreakAfterReturnType: None
# 总是在多行strings前换行
AlwaysBreakBeforeMultilineStrings: true
# 总是在模板声明时换行:
# None(由PenaltyBreakTemplateDeclaration控制)
# MultiLine(仅在模板声明需要多行时换行)
# Yes(总是换行)
AlwaysBreakTemplateDeclarations: Yes
# 函数调用时, 参数的放置规则
# false(参数要么同一行, 要么每个参数各占一行对齐)
# true(不做强制要求)
BinPackArguments: false
# 函数声明/定义时, 参数的放置规则
# false(参数要么同一行, 要么每个参数各占一行对齐)
# true(不做强制要求)
BinPackParameters: false
# 大括号换行，只有当BreakBeforeBraces设置为Custom时才有效
BraceWrapping:
  # case标签后换行
  AfterCaseLabel:  true
  # class定义后换行
  AfterClass:      true
  # 控制语句后换行
  AfterControlStatement: true
  # enum定义后换行
  AfterEnum:       true
  # 函数定义后换行
  AfterFunction:   true
  # 命名空间定义后换行
  AfterNamespace:  true
  # ObjC定义后换行
  AfterObjCDeclaration: true
  # struct定义后换行
  AfterStruct:     true
  # union定义后换行
  AfterUnion:      true
  # extern后换行
  AfterExternBlock: false
  # catch前换行
  BeforeCatch:     true
  # else前换行
  BeforeElse:      true
  # lambda表达式的主体前换行
  BeforeLambdaBody: false
  # do-while的while前换行
  BeforeWhile:     false
  # 大括号缩进
  IndentBraces:    false
  # 空白函数两行
  SplitEmptyFunction: true
  # 空白结构class/struct/union分两行
  SplitEmptyRecord: true
  # 空白命名空间分两行
  SplitEmptyNamespace: true
# 二元表达式的换行风格: None(在操作符后换行), NonAssignment(在非赋值的操作符前换行), All(在操作符前换行)
BreakBeforeBinaryOperators: None
# 大括号前换行:
# Attach(始终将大括号附加到周围的上下文)
# Linux(与Attach类似, 除了函数/命名空间/类定义的大括号放下一行)
# Mozilla(与Attach类似, 除枚举/函数/结构的大括号放下一行)
# Stroustrup(与Attach类似, 除函数定义前/catch前/else前的大括号放下一行)
# Allman(总是在大括号前换行)
# GNU(总是在大括号前换行, 但在控制语句后的大括号总是对齐到下一位置)
# WebKit(与Attach类似, 但在函数定义前换行)
# Custom(依赖BraceWrapping)
BreakBeforeBraces: Custom
# 类的继承逗号前换行
BreakBeforeInheritanceComma: false
# 类的继承列表分割方式: BeforeColon, BeforeComma, AfterColon, AfterComma
BreakInheritanceList: BeforeColon
# 三元表达式不能放一行时在三元操作符前换行
BreakBeforeTernaryOperators: true
# 构造函数初始化列表逗号前换行
BreakConstructorInitializersBeforeComma: false
# 构造函数初始化列表换行: BeforeColon, BeforeComma, AfterColon
BreakConstructorInitializers: BeforeColon
# 在Java注解后方换行
BreakAfterJavaFieldAnnotations: false
# 字符串过长换行
BreakStringLiterals: true
# 每行字符的限制，0表示没有限制，120较合适
ColumnLimit:     120
# 描述具有特殊意义的注释的正则表达式，它不应该被分割为多行或以其它方式改变
CommentPragmas:  '^ IWYU pragma:'
# 压缩紧接的命名空间
CompactNamespaces: false
# 构造函数初始化列表同一行或各一行
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# 构造函数初始化列表和基类继承列表的对齐缩进宽度
ConstructorInitializerIndentWidth: 4
# 延续行的缩进宽度
ContinuationIndentWidth: 4
# C++11初始化列表风格
Cpp11BracedListStyle: true
# 继承常用的行结尾: true(分析文件的行结尾，若无法分析则使用UseCRLF), false(不分析)
DeriveLineEnding: true
# 继承最常用的指针和引用的对齐方式
DerivePointerAlignment: false
# 禁用格式化
DisableFormat:   false
# 试验性的自动检测bin pack类型
ExperimentalAutoDetectBinPacking: false
# 修正命名空间的结束注释
FixNamespaceComments: true
# 应该被解释为foreach循环, 而不是函数调用的宏定义
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
# 多个include块(有空行分隔的include)排序时的分组规则: 
# Preserve(保留原有块分隔, 各自排序)
# Merge(合并所有块进行排序)
# Regroup(合并所有块, 按IncludeCategories规则排序)
IncludeBlocks:   Regroup
# include排序规则
IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
    SortPriority:    0
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
  - Regex:           '^<.*'
    Priority:        2
    SortPriority:    0
  - Regex:           '.*'
    Priority:        3
    SortPriority:    0
IncludeIsMainRegex: '([-_](test|unittest))?$'
IncludeIsMainSourceRegex: ''
# case标签的缩进
IndentCaseLabels: true
# case语句块的缩进
IndentCaseBlocks: true
# goto标签缩进
IndentGotoLabels: true
# 预处理命令(#if\#ifdef\#endif...)的缩进: None, AfterHash(在前导#后缩进, #在最左边，之后的语句缩进), BeforeHash(在前导#前缩进)
IndentPPDirectives: None
# extern块的缩进: AfterExternBlock, NoIndent, Indent
IndentExternBlock: AfterExternBlock
# 缩进宽度
IndentWidth:     4
# 函数名过长导致换行时的缩进
IndentWrappedFunctionNames: false
# 仅用于JavaScript的配置，需要配置为None
InsertTrailingCommas: None
# JavaScript中字符串引号规则: Leave(保持原样), Single(单引号), Double(双引号)
JavaScriptQuotes: Leave
# JavaScript的import/export语句后换行
JavaScriptWrapImports: true
# 块的起始位置保留空行
KeepEmptyLinesAtTheStartOfBlocks: false
# 用于识别宏定义块起始的正则表达式
MacroBlockBegin: ''
# 用于识别宏定义块结束的正则表达式
MacroBlockEnd:   ''
# 最大保留空行行数
MaxEmptyLinesToKeep: 1
# 命名空间内部的缩进: None, Inner, All
NamespaceIndentation: None
# Objective-C 相关配置
ObjCBinPackProtocolList: Never
ObjCBlockIndentWidth: 2
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
# 在一个注释中引入换行的penalty
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200
# 指针和引用的对齐: Left, Right, Middle, 在DerivePointerAlignment失效后启用
PointerAlignment: Right
RawStringFormats:
  - Language:        Cpp
    Delimiters:
      - cc
      - CC
      - cpp
      - Cpp
      - CPP
      - 'c++'
      - 'C++'
    CanonicalDelimiter: ''
    BasedOnStyle:    google
  - Language:        TextProto
    Delimiters:
      - pb
      - PB
      - proto
      - PROTO
    EnclosingFunctions:
      - EqualsProto
      - EquivToProto
      - PARSE_PARTIAL_TEXT_PROTO
      - PARSE_TEST_PROTO
      - PARSE_TEXT_PROTO
      - ParseTextOrDie
      - ParseTextProtoOrDie
      - ParseTestProto
      - ParsePartialTestProto
    CanonicalDelimiter: ''
    BasedOnStyle:    google
# 重新排版注释
ReflowComments:  true
# 排序所有#include
SortIncludes:    true
# 排序所有using声明
SortUsingDeclarations: true
# 在C风格类型转换后加空格
SpaceAfterCStyleCast: false
# 逻辑取反后加空格
SpaceAfterLogicalNot: false
# 模板关键字后加空格
SpaceAfterTemplateKeyword: true
# 赋值运算符前加空格
SpaceBeforeAssignmentOperators: true
# C++11舒适化列表前加空格
SpaceBeforeCpp11BracedList: false
# 构造函数初始化冒号前加空格
SpaceBeforeCtorInitializerColon: true
# 构造函数的继承冒号前加空格
SpaceBeforeInheritanceColon: true
# 圆括号前加空格: Never, ControlStatements(for/if/while...), Always
SpaceBeforeParens: ControlStatements
# for循环中的冒号前加空格
SpaceBeforeRangeBasedForLoopColon: true
# 空白块{}中加空格
SpaceInEmptyBlock: true
# 空的圆括号中加空格
SpaceInEmptyParentheses: false
# 尾随的评论前加空格数(只适用于//)
SpacesBeforeTrailingComments: 1
# 尖括号中加空格
SpacesInAngles:  false
# 条件语句(if/for/switch/while)中加空格
SpacesInConditionalStatement: false
# 容器(ObjC和JavaScript的数组和字典等)字面量中加空格
SpacesInContainerLiterals: true
# C风格类型转换的括号中加空格
SpacesInCStyleCastParentheses: false
# 圆括号中加空格
SpacesInParentheses: false
# 方括号中加空格，lamda表达式和未指明大小的数组的声明不受影响
SpacesInSquareBrackets: false
# 方括号前加空格，lamda表达式和未指明大小的数组的声明不受影响
SpaceBeforeSquareBrackets: false
# 位域中冒号的添加规则: Both, None, Before, After
BitFieldColonSpacing: Both
# 标准: Cpp03, Cpp11, Auto
Standard:        Auto
# 用于宏扩展后自带分包的语句
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
# tab宽度 4个空格
TabWidth:        4
# 使用"\r\n"作为换行
UseCRLF:         false
# 使用tab字符: Never, ForIndentation, ForContinuationAndIndentation, Always
UseTab:          Never
# 对括号敏感的宏定义列表, 不允许修改这些宏定义
WhitespaceSensitiveMacros:
  - STRINGIZE
  - PP_STRINGIZE
  - BOOST_PP_STRINGIZE
...

